<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.computer.inu.readit_appjam">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>


    <application
            android:name=".Network.ApplicationController"
            android:allowBackup="true"
        android:icon="@drawable/logeread"
            android:label="ReadIt"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Activity.ReaditTimeActivity">
        </activity>
        <activity android:name=".Activity.CategoryActivity">
        </activity>
        <activity android:name=".Activity.SignupActivity"
                  android:configChanges="orientation|keyboardHidden">
        </activity>
        <activity android:name=".Activity.LoginActivity"
                  android:configChanges="orientation|keyboardHidden">
        </activity>
        <activity
            android:name=".Activity.CategorySettingEditActivity"
            android:theme="@style/categoryEditTheme" />
        <activity
            android:name=".Activity.WebViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WebviewTheme" />
        <activity
            android:name=".Activity.SettingCategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AllCategoryViewActivity"
            android:theme="@style/Transparent" />
        <activity
            android:name=".Activity.TrashCanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ChangeProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SettingsPageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.DialLogActivity"
            android:theme="@style/Transparent" />
        <activity
            android:name=".Activity.MainActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>
    </application>

</manifest>