<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.computer.inu.readit_appjam">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".Network.ApplicationController"
        android:allowBackup="true"
        android:icon="@drawable/readit_appicon"
        android:label="ReadIt"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_cFhannel_id"
            android:value="@string/default_notification_channel_id" />

        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />

        <activity
            android:name=".Activity.CategoryDeletePopupActivity"
            android:theme="@style/categoryEditTheme" />
        <activity
            android:name=".Activity.CategoryPremiumPopupActivity"
            android:theme="@style/categoryEditTheme" />
        <activity
            android:name=".Activity.NewCategoryAddActivity"
            android:theme="@style/categoryEditTheme" />
        <activity android:name=".Activity.CategoryMoveActivity" />
        <activity
            android:name=".Activity.Main_Home_Contents_Setting_Activity"
            android:theme="@style/categoryEditTheme" />
        <activity
            android:name=".Activity.MainHome_More_btn_Activity"
            android:theme="@style/categoryEditTheme" />
        <activity android:name=".Activity.SearchResultActivity" />
        <activity android:name=".Activity.ReaditTimeActivity" />
        <activity android:name=".Activity.CategoryActivity" />
        <activity
            android:name=".Activity.SignupActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".Activity.HoneNickNamePopupActivity" />
        <activity android:name=".Activity.MypageScrab_PopupActivity" />

        <activity
            android:name=".Activity.CategorySettingEditActivity"
            android:theme="@style/categoryEditTheme" />
        <activity
            android:name=".Activity.WebViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WebviewTheme" />
        <activity
            android:name=".Activity.DialLogActivity"
            android:theme="@style/Transparent" />
        <activity
            android:name=".Activity.SettingCategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AllCategoryViewActivity"
            android:theme="@style/Transparent" />
        <activity
            android:name=".Activity.TrashCanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ChangeProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SettingsPageActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Activity.SearchCategoryActivity"
            android:theme="@style/TransparentTheme" />
        <activity android:name=".Activity.Mypage_Setting_alarm" />
        <activity
            android:name=".Activity.MainActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <!-- FCM 관련 서비스 -->
        <service android:name=".FCM.FirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".FCM.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>


        <!-- 여기까지 -->
        <activity
            android:name=".Activity.SearchActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activity.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
    </application>

</manifest>